@import '../../../mixins/media-queries.scss';

.blog-list {
  --gap: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-top: var(--gap);
  flex: 0 1 100%;

  .card-item {
    @include media-min(sm) {
      flex: 0 1 calc((100% / 2) - (var(--gap) / 2));
    }

    @include media-min(xl) {
      flex: 0 1 calc((100% / 3) - 2 * (var(--gap) / 3));
    }
  }
}
